html
    head
        title Exercises Encyclopedia 📔
        meta(charset="utf-8")
        meta(name="theme-color", content="#427BBE")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js")
        script(type='text/javascript').
            $(document).ready(function() {
                $('#exerciseTable').DataTable();
            });        

    body(class="container-fluid" style="background: #a0a0a0;")
        table(id="exerciseTable", class="table")
            thead
                tr
                    th(class="col-sm-1 col-xs-1", style ="word-break:break-all;")
                    th(class="col-sm-1 col-xs-1", style ="word-break:break-all;") Exercise
                    th(class="col-sm-1 col-xs-1", style ="word-break:break-all;") Muscle
                    th(class="col-sm-1 col-xs-1", style ="word-break:break-all;") Type
                    th(class="col-sm-1 col-xs-1", style ="word-break:break-all;") Equipment
                    th(class="col-sm-1 col-xs-1", style ="word-break:break-all;") Level
                    th(class="col-sm-1 col-xs-1", style ="word-break:break-all;") 
            tbody
                each val in edata
                    tr
                        td(class="col-sm-1 col-xs-1", style ="word-break:break-all;")
                            img(src= val.right_img_url,height=50)
                        td(class="col-sm-1 col-xs-1", style ="word-break:break-all;")= val.name
                        td(class="col-sm-1 col-xs-1", style ="word-break:break-all;")= val.muscle
                        td(class="col-sm-1 col-xs-1", style ="word-break:break-all;")= val.type
                        td(class="col-sm-1 col-xs-1", style ="word-break:break-all;")= val.equipment
                        td(class="col-sm-1 col-xs-1", style ="word-break:break-all;")= val.level
                        td(class="col-sm-1 col-xs-1", style ="word-break:break-all;")
                            a(href= "/getExerciseDetails?userid="+userid+"&id="+val._id, class="btn btn-info") View